server:
  port: 8888

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      server:
        webmvc:
          routes:
            - id: identity_service
              uri: http://localhost:8080
              predicates:
                - Path=/identity/** # Khi map prefix là identity thì sẽ route toàn bộ api về identity_service
            - id: profile_service
              uri: http://localhost:8081
              predicates:
                - Path=/profile/**